<div class="center_panel">

  			<div class="section_block">
  				<form action="{:url('index/Home/postweibo')}" method="post" enctype="multipart/form-data">
  					<div class="content1">
  						<textarea class="textarea" placeholder="有什么和大家分享的?" name="textarea"></textarea>
              <input class="upload1" type="file" name="image" value="上传图片" /> <br> 
  					</div>
  						<input type="submit" class="submit1" value="发布" />
  				</form>
  			</div>

  			<div class="titleall">
  				<ul>
  					<li><a href="{:url('index/Hot/hot')}">热门</a></li>
  					<li><a href="">全部</a></li>
            <li><a href="">自己</a></li>
            <li><a href="">消息</a></li>
  					<li><a href="">收藏夹</a></li>
  				</ul>
  			</div>

</div>
