<div class="left_panel">
  			<img src="__STATIC__/image/home1.png" />
  			<div class="usercontent">
  			<strong class="username">{:session('user_info.name')}</strong>
  			<ul>
  				<li class="li1">
  					<a href="">
  						<strong>{$user.cares}</strong><br />
  						<span>关注</span>
  					</a>
  				</li>
  				<li class="li1">
  					<a href="">
  						<strong>{$user.fans}</strong><br />
  						<span>粉丝</span>
  					</a>
  				</li>
  				<li class="li1">
  					<a href="">
  						<strong>{$user.weibonum}</strong><br />
  						<span>微博</span>
  					</a>
  				</li>
  			</ul>
  			</div>
</div>